// @import "./styles/example.scss";

// $myBlue: blue;

// #main {
//   color: $myBlue;
// }
body {
  margin: 0;
}

#game-canvas {
  background-color: black;
  border: 10px solid green; //just to clearly see...
}