@font-face {
  font-family: 'renogare';
  src: url(../fonts/Renogare-Regular.otf);
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
}

h1, h3 { //header and footer
  text-align: center;
}

h1 { //header
  font-family: renogare;
  font-weight: 100;
}

h3 { //footer
  font-family: renogare;
  font-weight: 40;
}

#game-canvas { //actual canvas
  background-color: black;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#game-container { // contains canvas, lists, divs
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  height: fit-content;
  position: relative;
}

ul#veggieList, ul#proteinList {
  display: flex;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

ul#proteinList {
  top: 27%;
}

ul#veggieList {
  top: 40%;
}

#proteinList li, #veggieList li { // divs containing images
  width: 100px;
  height: auto;
  flex: auto;
  background-color: transparent;
  top: 30%;
}

li > img { // images themselves can't be large than their divs
  max-width:100%;
  max-height:100%;
}

#tray-pic {
  width: 300px;
  height: auto;
}

#tray { // size by its image
  width: fit-content;
  height: fit-content;
  display: flex;
  background-color: transparent;
  position: absolute;
  right: 50%;
  bottom: 20%;
  transform: translate(+50%, +50%);
}



#chosen-ingredients {
  display: flex;
  list-style: none;
  position: absolute;
  column-count: auto;
}

#tray li {
  display: inline-block;
  width: 40px;
  height: auto;
  flex: auto;
  background-color: transparent;
}

#message {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-family: renogare;
  font-weight: 40;
}